@function rem($px){
  @return $px / 234 * 1rem;
}
body{
  background-color: #f3f5f7;
  position: relative;
}
html{
  position: relative;
}
.headerDiv{
  width: 100%;
  height: rem(268);
  background-image: url("../images/p1/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}
.bgShadowDiv{
  z-index: 1000;
  width:100%;
  height: rem(268);
  background-color: rgba(7,17,27,0.5);
  position: absolute;
  top: 0;
  left: 0;
  blur:rem(10);
  .brandTr{
    width: 100%;
    .avatar{
      width: rem(128);
      height: rem(128);
      img{
        margin-top: rem(40);
        margin-left: rem(40);
        width: rem(128);
        height: rem(128);
      }
    }
    .brandDetailsTd{
      width:100%;
      .nameDiv{
        margin-top: rem(44);
        margin-left: rem(32);
        img{
          width:rem(60);
          height: rem(36);
        }
        span{
          font-size: rem(32);
          color: #ffffff;
          font-weight: bold;
          padding-left: rem(12);
          line-height: rem(36);

        }
      }
      .sendDiv{
        font-size: rem(24);
        width: 100%;
        box-sizing: border-box;
        padding-left: rem(32);
        margin-top: rem(16);
        color: #ffffff;
        font-weight: rem(200);
        line-height: rem(24);
      }
      .cutActivityDiv{

        margin-left: rem(32);
        margin-top: rem(20);
        img{
          width: rem(24);
          height: rem(24);
        }
        span{
          font-size: rem(24);
          color: #ffffff;
          font-weight: rem(200);
          line-height: rem(24);
          padding-left: rem(8);
        }
      }
    }
  }
  .gongGaoDiv{
    width: 100%;
    height: rem(56);
    background-color: rgba(7,17,27,0.2);
    position:absolute;
    left: 0;
    bottom: 0;
    .gongGaoTr{
      width: 100%;
      overflowX: hidden;
      overflow-y: hidden;
      img{
        margin-top: rem(15);
        margin-left: rem(24);
        width: rem(44);
        height: rem(24);
      }
      .gongGaoSpan{
        width: 100%;
        height: rem(56);
        font-size: rem(20);
        color: #ffffff;
        font-weight: rem(200);
        padding-left: rem(8);
        line-height: rem(56);
      }
    }
  }
  .numDiv{
    width: rem(86);
    height: rem(48);
    background-color: rgba(7,17,27,0.2);
    border-radius: rem(14) rem(16);
    position:absolute;
    right:rem(23);
    bottom: rem(93);
    text-align: center;
    line-height: rem(48);
    color: #ffffff;
    font-size: rem(20);
  }
}
.navDiv{
  width: 100%;
  height: rem(80);
  background-color: #ffffff;
  border-bottom: 2px solid rgba(7,17,27,0.1);
  .item,.pingJia,.shop{
    width: rem(250);
    height: rem(80);
    font-size: rem(28);
    text-align: center;
    line-height: rem(80);
    color: rgb(77,85,93);
  }
}
//itemPage
* {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  *font-size: 100%;
  font-weight: 400;
  padding: 0.1rem;
  font-size: 0.1rem;
  border-left: 1px solid #ececec;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,i,strong,th,var {
  font-style: normal;
  font-weight: normal;
}
ol,ul,li {
  list-style: none outside;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  text-align: left;
}
input,textarea,select,button {
  font-family: inherit;
  font-size: inherit;
  *font-size: 100%;
  font-weight: inherit;
  resize: none;
}
button {
  cursor: pointer;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: #487d98;
  &:hover {
    text-decoration: underline;
  }
}
.clr {
  *zoom: 1;
  &:after {
    clear: both;
  }
}
.clr:before,.clr:after {
  content: "";
  display: table;
}
.colorange {
  color: orange;
}
.fbold {
  font-weight: bold;
}
.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
#outerWrap{
  width: 100%;
 
  position:relative ;
  height: rem(878);
  .tabGroup {
    height: rem(878);
    width: rem(160);
    overflow-y: scroll;
    li {
      padding:0 rem(10);
      box-sizing: border-box;
      .titleSpan{
        font-size: rem(24);
        text-align: center;
        //color: rgb(240,20,20);
        color: #090a0f;
        border-bottom: 1px solid rgba(7,17,27,0.1);
        height: rem(108);
        line-height: rem(108);
      }

      &.selectedTab {
        background: #fff;
        padding-left: 5px;
        overflow: hidden;
        .titleSpan{
          color: #1d9fd3;
          font-weight: bold;
        }

      }
    }
  }
  .blueline {
    position: absolute;
    top: 0px;
    left: 0px;
    width: rem(5);
    height: rem(108);
    background: #1d9fd3;
    overflow: hidden;
  }
  #container {
    height: rem(878);
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: rem(161);
    width: 100%;
    #content{
      width: 100%;
      background-color: #f3f5f7;
      .tabContent {
        width: 100%;
        .singleTaoDiv{
          width: 100%;
          background-color: #ffffff;
          .singleTaoDetailTr{
            width: 100%;
            box-sizing: border-box;
            padding: rem(36);
            .avatarTd{
              width: rem(114);
              height: rem(114);
              img{
                width: rem(114);
                height: rem(114);
              }
            }
            .item1Td{
              padding-left: rem(20);
              .titleDiv{
                margin-top: rem(4);
                font-size: rem(28);
                line-height: rem(28);
                color: #07111b;
                font-family: "Microsoft Yahei";
              }
              .itemNameDiv{
                margin-top: rem(16);
                font-size: rem(20);
                color: rgb(147,153,159);
                line-height: rem(20);
              }
              .sellNumDiv{
                padding-top: rem(16);
                font-size: rem(20);
                color: rgb(147,153,159);
                line-height: rem(20);
              }
              .priceDiV{
                margin-top: rem(16);
                .nowPrice{
                  width: 0.5rem;
                  font-size: rem(28);
                  color: #f01414;
                  line-height: rem(48);
                  font-weight: rem(700);
                }
                .oldPrice{
                  width: 0.5rem;
                  margin-top: rem(16);
                  font-size: rem(20);
                  color: rgb(147,153,159);
                  line-height: rem(48);
                  text-decoration: line-through;
                  font-weight: rem(700);
                }
                .button{
                  width: rem(160);
                  .icon-remove_circle_outline{
                    display: none;
                    font-size: rem(48);
                    color: #00a0dc;
                    vertical-align: middle;
                  }
                  .numberSpan{
                    display: none;
                    font-size: rem(20);
                    color: #93999f;
                    text-align: center;
                    line-height: rem(48);

                  }
                  .icon-add_circle{
                    font-size: rem(48);
                    color: #00a0dc;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          .carItemTr{
            width: 100%;
            height: rem(96);
            padding: rem(24) rem(36);
            box-sizing: border-box;
            border-bottom: 1px solid rgba(7,17,27,0.1);
            .carTd{
              width: 30%;
              font-size: rem(28);
              font-weight: rem(200);
              color: rgb(7,17,27);
              line-height: rem(48);
            }
            .carPriceTd{
              width: 40%;
              font-size: rem(28);
              font-weight: rem(700);
              color: #f01414;
              line-height: rem(48);
            }
            .buttonTd{
              width: 100%;
              .icon-remove_circle_outline{
                font-size: rem(48);
                color: #00a0dc;
                vertical-align: middle;
              }
              .number{
                margin-left: rem(20);
                margin-right: rem(20);
                font-size: rem(20);
                color: #93999f;
                text-align: center;
                line-height: rem(48);

              }
              .icon-add_circle{

                font-size: rem(48);
                color: #00a0dc;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }

}
#slider {
  position: absolute;
  top: 0px;
  right: 0;
  width: 6px;
  border-radius: 6px;
  background: #ccc;
  cursor: pointer;
}
#sliderParent {
  position: absolute;
  left: 0;
  height: 0;
  width: 608px;
  z-index: 999;
}
.wrapacon {
  position: relative;
  float: left;
  width: 468px;
  height: 360px;
  margin-top: 5px;
  overflow: hidden;
}
.wrapaconlis {
  position: absolute;
  left: 0;
  top: 0;
  width: 450px;
}
.scrbar {
  position: relative;
  width: 4px;
  height: 355px;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  background-color: #f4f4f4;
  float: left;
  left: 443px;
  margin-left: 15px;
  .barbg {
    position: absolute;
    right: -1px;
    top: 50px;
    width: 2px;
    height: 105px;
    border: 2px solid #dadada;
    background-color: #dadada;
    border-radius: 20px;
  }
}


.footerDiv{
  height: rem(116);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  .footerBgTr{
    width: 100%;
    height: rem(104);
    background-color: #141d27;
    position: absolute;
    bottom: 0;
    left: 0;
    .shopCarBgDivTd{
      position: absolute;
      bottom: rem(14);
      left: rem(24);
      width: rem(112);
      height: rem(112);
      background-color: #131d26;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      .shipCarContain{
        margin: rem(12);
        width: rem(88);
        height: rem(88);
        background-color: #2b343c;
        border-radius: 50%;
        .icon-shopping_cart{
          text-align: center;
          font-size: rem(48);
          color: #80858a;
          line-height: rem(88);
        }
      }
    }
    .totalPriceTd{
      position: absolute;

      height: rem(48);
      width: rem(200);
      bottom: rem(24);
      left: rem(160);
      font-size: rem(32);
      color: rgba(255,255,255,0.4);
      font-weight: rem(700);
      line-height: rem(48);
    }
    .sendFeeTd{
      border-left: 1px solid rgba(255,255,255,.1);
      position: absolute;
      padding-left: rem(24);
      margin-left: rem(24);
      height: rem(48);
      width: 100%;
      bottom: rem(24);
      left: rem(269);
      font-size: rem(20);
      color: rgba(255,255,255,0.4);
      line-height: rem(48);
    }
    .sendInitPriceTd{
      width: rem(210);
      height: 100%;
      background-color: #2b333b;
      position: absolute;
      bottom: 0;
      right: 0;
      .sendInitPrice{
        margin-left: rem(16);
        margin-top: rem(32);
        width: rem(178);
        height: rem(48);
        text-align: center;
        font-size: rem(24);
        color: rgba(255,255,255,0.4);
        font-weight: rem(700);
        line-height: rem(48);
      }
    }
  }
}
.gongGaoShadow{
  width: 100%;
  height: 100%;
  background-color: rgba(7,17,27,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
  .title{
    margin-top: rem(128);
    text-align: center;
    font-size: rem(32);
    font-weight: rem(700);
    color: rgb(255,255,255);
    line-height: rem(32);
  }
  .startDiv{
    height: rem(48);
    padding-left: 0.85rem;
    margin-top: rem(32);
    img{
      padding:rem(14);
      width: rem(40);
      height: rem(38);
      vertical-align: middle;
    }
  }
  .favorTr,.gongGaoTr{
    margin-left: rem(72);
    margin-top: rem(56);
    .leftTd{
      width: rem(224);
      .leftLine{
        width: rem(224);
        border-bottom: 1px solid rgba(255,255,255,.2);
      }
    }
    .middleTd{
      display: inline-block;
      padding-left: rem(24);
      font-size:rem(28);
      color: #ffffff;
    }
    .rightTd{
      width: rem(224);
      padding-left: rem(24);
      .rightLine{
        width: rem(224);
        border-bottom: 1px solid rgba(255,255,255,.2);
      }
    }
  }
  .favorDetails{
    margin-top: rem(48);
    margin-left: rem(96);
    .cutTr{
      margin-top: rem(24);
      img{
        width: rem(32);
        height: rem(32);
      }
      .shuoMing{
        padding-left: rem(12);
        font-size: rem(24);
        font-weight: rem(200);
        color: #ffffff;
        line-height: rem(24);
      }
    }
  }
  .jianJieDiv{
    margin-top: rem(48);
    margin-left: rem(96);
    width: rem(552);
    font-size: rem(24);
    font-weight: rem(200);
    color: #ffffff;
    line-height: rem(48);
  }
  .icon-close{
    font-size: rem(64);
    color: rgba(255,255,255,0.5);
    position: fixed;
    bottom: rem(64);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
.shopCartShadow{
  width: 100%;
  height: 100%;
  background-color: rgba(7,17,27,0.6);
  position: absolute;
  top:0;
  left: 0;
  z-index: 10000;
  .shopCartDetails{
    width: rem(750);
    margin-top: rem(733);
    background-color: #ffffff;
    .carTr{
      background-color: #f3f5f7;
      width: 100%;
      padding: rem(24) rem(36);
      box-sizing: border-box;
      border-bottom: 2px solid rgba(7,17,27,0.1);
      .carTd{
        width: 20%;
        font-size: rem(28);
        font-weight: rem(200);
        color: rgb(7,17,27);
        line-height: rem(80);
      }
      .deleteTd{
        width: 20%;
        font-size: rem(24);
        color: rgb(0,160,220);
        line-height: rem(80);
      }

    }
    .carItemTr{
      width: 100%;
      height: rem(96);
      padding: rem(24) rem(36);
      box-sizing: border-box;
      border-bottom: 1px solid rgba(7,17,27,0.1);
      .carTd{
        width: 30%;
        font-size: rem(28);
        font-weight: rem(200);
        color: rgb(7,17,27);
        line-height: rem(48);
      }
      .carPriceTd{
        width: 40%;
        font-size: rem(28);
        font-weight: rem(700);
        color: #f01414;
        line-height: rem(48);
      }
      .buttonTd{
        width: 100%;
        .icon-remove_circle_outline{
          font-size: rem(48);
          color: #00a0dc;
          vertical-align: middle;
        }
        .number{
          margin-left: rem(20);
          margin-right: rem(20);
          font-size: rem(20);
          color: #93999f;
          text-align: center;
          line-height: rem(48);

        }
        .icon-add_circle{

          font-size: rem(48);
          color: #00a0dc;
          vertical-align: middle;
        }
      }
    }
  }
}

//assessPage STYLE
.assessChangeContentDiv{
  width: 100%;
  overflow: scroll;
  height: rem(878);
  position: relative;
  .assessScore{
    width:100%;
    background-color: #ffffff;
    padding-top: rem(36);
    padding-bottom: rem(36);
    border-bottom: 1px solid rgba(7,17,27,0.1);
    .assessLeftTd{
      border-right: 1px solid rgba(7,17,27,0.1);
      width: rem(275);
      height: rem(142);
      text-align: center;
      .score{
        font-size: rem(48);
        color: rgb(255,153,0);
        line-height: rem(56);
      }
      .comprehensiveScore{
        margin-top: rem(12);
        font-size: rem(24);
        color: rgb(7,17,27);
        line-height: rem(24);
      }
      .nearby{
        margin-top: rem(16);
        font-size: rem(20);
        color: #93999f;
        line-height: rem(20);
        padding-bottom: rem(12);
      }
    }
    .assessRightTd{
      width: rem(474);
      height: rem(142);
      padding-left: rem(48);
      box-sizing: border-box;
      .serviceAttitude{
        margin-bottom: rem(16);
        .serviceAttitudeTitle{
          font-size: rem(24);
          color: rgb(7,17,27);
          line-height: rem(36);
        }
        .serviceAttitudeStar{
          padding-left: rem(24);
          img{
            width: rem(30);
            height: rem(29);
          }

        }
        .serviceAttitudeScore{
          padding-left: rem(24);
          font-size: rem(24);
          color: #ff9900;
          line-height: rem(36);
        }
      }
      .sendForTime{

        .sendForTimeTitle{
          font-size: rem(24);
          color: rgb(7,17,27);
          line-height: rem(36);
        }
        .sendForTimeTime{
          padding-left: rem(24);
          font-size: rem(24);
          color: rgb(147,153,159);
          line-height: rem(36);
        }
      }
    }
  }
  .assessDiv{
    width: 100%;
    background-color: #ffffff;
    .assessTop{
      border-bottom: 1px solid rgba(7,17,27,0.1);
      background-color: #ffffff;
      margin-top: rem(32);
      margin-left: rem(36);
      padding-top: rem(36);
      padding-bottom: rem(36);
      width: rem(678);
      box-sizing: border-box;
      border-bottom: 1px solid rgba(7,17,27,0.1);
      .assessTab{
        .all{
          width: rem(120);
          height: rem(64);
          .allSpan{
            width: rem(120);
            height: rem(64);
            font-size: rem(24);
            line-height: rem(64);
            border-radius: rem(2);
            background-color: #ffffff;
            text-align: center;
            margin-right: rem(16);
          }
          &.selectSpanTab{
            .allSpan{
              color: #ffffff;
              background-color: #00a0dc;
            }
          }
        }
        //.recommend{
        //  width: rem(120);
        //  height: rem(64);
        //  .recommendSpan{
        //    width: rem(120);
        //    height: rem(64);
        //    font-size: rem(24);
        //    color: #4d555d;
        //    line-height: rem(64);
        //    border-radius: rem(2);
        //    background-color: #ccecf8;
        //    text-align: center;
        //    margin-left: rem(16);
        //  }
        //
        //}
        //.tuCao{
        //  width: rem(120);
        //  height: rem(64);
        //  .tuCaoSpan{
        //    width: rem(120);
        //    height: rem(64);
        //    font-size: rem(24);
        //    color: #4d555d;
        //    line-height: rem(64);
        //    border-radius: rem(2);
        //    background-color: #e9ebec;
        //    text-align: center;
        //    margin-left: rem(16);
        //  }
        //
        //}
      }
    }
    .onlyLookAssessDiv{
      width: 100%;
      border-bottom: 1px solid rgba(7,17,27,0.1);
      .onlyLookAssess{
        margin-left: rem(36);
        padding-bottom: rem(24);
        padding-top: rem(24);
        .icon-check_circle{
          font-size: rem(48);
          color: rgb(147,153,159);
          line-height: rem(48);
          &.onlyCheck{
            font-size: rem(48);
            color: #00a0dc;
            line-height: rem(48);
          }
        }
        .onlyLookSpan{
          padding-left: rem(8);
          font-size: rem(24);
          color: rgb(147,153,159);
          line-height: rem(48);
        }
      }
    }
    .assessDetailsDiv{
      border-bottom: 1px solid rgba(7,17,27,0.1);
      margin-top: rem(32);
      margin-left: rem(32);
      padding-right: rem(32);
      padding-bottom: 0.15385rem;
      box-sizing: border-box;
      width: rem(678);
      .timeAndUser{
        width: 100%;
        .userTouXiangTd{
          width: rem(56);
          height: rem(56);
          img{
            width: rem(56);
            height: rem(56);
          }
        }
        .starAndTimeTd{
          width: rem(300);
          padding-left: rem(24);
          .userName{
            font-size: rem(20);
            color: rgb(7,17,27);
            line-height: rem(24);
          }
          .star{
            margin-top: rem(8);
            .imgTd{
              img{
                width: rem(20);
                height: rem(19);
              }
            }

            .sendFor{
              padding-left: rem(12);
              font-size: rem(20);
              color: rgb(147,153,159);
              line-height: rem(24);
              font-weight: rem(200);
            }
          }
        }
        .timeTd{
          font-size: rem(20);
          color: rgb(147,153,159);
          line-height: rem(24);
          font-weight: rem(200);
        }
      }
      .assessContent{
        margin-top: rem(12);
        width: rem(603);
        font-size: rem(24);
        color: rgb(7,17,27);
        line-height: rem(36);
        padding-left: rem(80);
      }
      .thumbTr{
        padding-left: rem(80);
        margin-top: rem(16);
        .icon-thumb_up,.icon-thumb_down{
          width: rem(23);
          font-size: rem(24);
          color: rgb(0,160,220);
          line-height: rem(48);
        }
        .thumbContent{
          .content{
            margin-top: rem(16);
            border: 1px solid rgba(7,17,27,0.1);
            border-radius: rem(2);
            width: rem(140);
            height: rem(32);
            font-size: rem(18);
            color: rgb(147,153,159);
            line-height: rem(32);
            text-align: center;
            margin-left: rem(16);
          }
        }
      }
    }

  }
}

//shopPage STYLE
.shopChangeContentDiv{
  width: 100%;
  background-color:#f3f5f7 ;
  overflow: scroll;
  height: rem(878);
  position: relative;
  .assessDetailsDiv{
    background-color: #ffffff;
    padding:rem(36)rem(36) rem(0) rem(36);

    width: 100%;
    box-sizing: border-box;
    .collectionTr{
      padding-bottom: rem(36);
      border-bottom: 1px solid rgba(7,17,27,0.1);
      box-sizing: border-box;
      width: rem(678);
      .collectionLeftTd{
        width: 60%;
        .shopTitle{
          font-size: rem(28);
          color: rgb(7,17,27);
          line-height: rem(28);
        }
        .starAndOrderTr{
          margin-top: rem(16);
          .imgTd{

            img{
              width: rem(20);
              height: rem(19);
            }
          }
          .orderTd{
            padding-left: rem(24);
            font-size: rem(20);
            color: rgb(77,85,93);
            line-height: rem(36);
          }
          .starNumTd{
            padding-left: rem(16);
            font-size: rem(20);
            color: rgb(77,85,93);
            line-height: rem(36);
          }
        }
      }
      .collectionRightTd{
        .icon-favorite{
          font-size: rem(48);
          color: red;
          line-height: rem(48);
          &.newColor{
            font-size: rem(48);
            color: #ececec;
            line-height: rem(48);
          }
        }

        .favoriteTitle{
          padding-top: rem(8);
          font-size: rem(20);
          color: rgb(77,85,93);
          line-height: rem(20);
        }

      }
    }

  }
  .feeTr{
    border-bottom: 2px solid rgba(7,17,27,0.1);
    width: 100%;
    background-color: #ffffff;
    padding-bottom: rem(36);
    padding-top: rem(36);
    .initPrice,.sendPrice,.sendTime{
      width:rem(250);
      text-align: center;
      .title{
        font-size: rem(20);
        color: rgb(147,153,159);
        line-height: rem(20);
      }
      .money,.sendMoney,.time{
        margin-top: rem(16);
        font-size: rem(48);
        color: rgb(7,17,27);
        line-height: rem(48);
      }
    }
  }
  .ActivityDiv{
    width: 100%;
    border-bottom: 1px solid #e6e7e8;
    border-top: 2px solid #e6e7e8;
    margin-top: rem(32);
    .gongGaoAndActivity{
      background-color: #ffffff;
      padding-bottom: rem(32);
      .title{
        padding-top: rem(36);
        font-size: rem(28);
        color: rgb(7,17,27);
        line-height: rem(28);
        margin-left: rem(36);
      }
      .jianJieDiv{
        padding-top: rem(16);
        margin-left: rem(60);
        font-size: rem(24);
        color: rgb(240,20,20);
        line-height: rem(48);
        font-weight: rem(200);
        width: rem(630);
      }
    }
  }
  .cutContentDiv{
    width: 100%;
    border-bottom: 1px solid #e6e7e8;
    .cutDiv{
      width: 100%;
      background-color: #ffffff;
      border-bottom: 1px solid #e6e7e8;
      .cutTr{
        padding: rem(32);
        img{
          width: rem(32);
          height: rem(32);
        }
        .shuoMing{
          padding-left: rem(12);
          font-size: rem(24);
          color: rgb(7,17,27);
          font-weight: rem(200);
          line-height: rem(32);
        }
      }
    }

  }
  .sceneContent{
    width: 100%;
    .sceneDiv{
      overflow: hidden;
      padding-left: rem(36);
      padding-top: rem(36);
      padding-bottom: rem(36);
      background-color: #ffffff;
      margin-top: rem(32);
      border-bottom: 1px solid #e6e7e8;
      .sceneTitle{
        font-size: rem(28);
        color: rgb(7,17,27);
        line-height: rem(28);
      }
      .imgDiv{
        height: rem(180);
        .img{
          padding-right: rem(12);
          box-sizing: border-box;
          img{
            margin-top: rem(24);
            width: rem(240);
            height: rem(180);
          }

        }
      }

    }
  }
  .shopInfoDiv{
    padding-top: rem(32);
    padding-left: rem(36);
    margin-top: rem(32);
    background-color: #ffffff;
    .shopInfo{
      width: rem(678);
      font-size: rem(28);
      color: rgb(7,17,27);
      line-height: rem(28);
      border-bottom: 1px solid #e6e7e8;
      padding-bottom: rem(24);
    }
  }
  .infoDetailDiv{
    padding-top: rem(32);
    padding-left: rem(36);
    background-color: #ffffff;
    .infoDetail{
      padding-left: rem(24);
      width: rem(678);
      font-size: rem(24);
      color: rgb(7,17,27);
      line-height: rem(32);
      border-bottom: 1px solid #e6e7e8;
      padding-bottom: rem(24);
    }
  }
}